*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul{
    list-style: none;
}

a {
    text-decoration: none;
}

#nav_bar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 10;
    height: 10vh;
    width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: helvetica;
}

#invertir{
    filter: invert(100%);
}

#blanco{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.aling{
    display: flex;
    justify-content: center;
}

/* section uno */

.section__uno{
    display: flex;
    background-image: url("../JPG/seccion-uno.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    bottom: 120px;
    height: 95vh;
    width: 100%;
}

/* SECTION DOS */

.sec__contenido{
    display: flex;
    text-align: center;
    min-width: 280px;
    min-height: 400px;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenido__header{
    margin-bottom: 10%;
}

.div_contenido_dos{
    margin-bottom: 10%;
}

.footer__contenido{
    margin-bottom: 10%;
}

.titulo{
    font-size: 50px;
    font-family: gotham_light;
}

.titulo_dos{
    font-size: 50px;
    font-family: gotham_light;
}

.titulo_tres{
    font-size: 50px;
    font-family: gotham_light;
}

.parrafo_uno{
    font-size: 15px;
    font-family: gotham_light;
}

.parrafo_uno{
    font-size: 15px;
    font-family: gotham_light;
}

.parrafo_uno{
    font-size: 15px;
    font-family: gotham_light;
}

/* footer */

.contenido__footer{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521); 
    padding: 20px 70px;
    color: #ffffff;
    top: ;
}

.footer_logo{
    height: 100px;
    margin-bottom: 10px;
}

.redes_footer{
    display: flex;
    width: 15%;
}

.red_face , .red_insta{
    height: 80px;
}

@media (width <= 990px) {
    .section__uno{
        background-image: url("../JPG/seccion-uno-telefono.jpg");
    }
    .contenido__footer{
        justify-content: center;
    }
    .bg-andreina{
        background-color: rgba(0, 0, 0, 0.32);
    }
}